html, body{
	font-family: Arial,sans-serif;
	margin: 0;
}
header{
	background-color: #630a0f;
	padding: 40px;
	text-align: center;
}
h1{
	font-size: 90px;
	color: white;
}
header img{
	border-radius: 150px;
	width: 800px;
	border: 10px solid #000000;
}
.content{
	max-width: 900px;
	margin: 0 auto;
}
img.big-image{
	max-width: 100%
	margin: 0 auto;
	padding: 0 20px;
	

}
p.caption{
	font-size: 16px;
	color: lightgrey;
	font-style: italic;
}
footer ul{
	list-style: none;
	margin: 0 auto;
	padding: 0;
	text-align: center;

}
footer{
	margin-top: 20px;
	padding: 40px 20px;
	background-color: #635958;
}
footer ul li{
	display: inline-block;
	max-width: 0 5px;
}
/*<header>
		<img src="img/profile.jpg">
		<h1>MattyBoy84</h1>
	</header>*/