header{
	background-color: #630a0f;
	padding: 40px;
	text-align: center;
}
h1{
	font-size: 90px;
	color: white;
}
header img{
	border-radius: 150px;
	width: 800px;
	border: 10px solid #000000;
}
h2{
	font-size: 50px
}
div {
	background-color: #630a0f;
	color:white;
	text-align: center;
}
/*<header>
		<img src="img/profile.jpg">
		<h1>MattyBoy84</h1>
	</header>*/