body{
	background-color: black;
}
h1{
	color: orange;
	font-size: 90px;
	text-decoration: underline;
}
p{
	color: red;
}
p1{
  color: pink;
}	
p2{
	color: green;
}
p3{
	color: orange;
}
p4{
	color: blue
}
p5{
	color: red;
}